/* vendors*/
@import url(../vendors/normalize.css);

/* utilities */
@import url(../blocks/page/page.css);
@import url(../blocks/button/button.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__button/header__button.css);

/* newsletter */
@import url(../blocks/newsletter/newsletter.css);

/* footer */
@import url(../blocks/footer/footer.css);

/* fonts */
@font-face {
  src: url(../../vendors/fonts/PlayfairDisplay-Regular.woff2);
  font-family: "Playfair-Display";
}

@font-face {
  src: url(../../vendors/fonts/Rubik-Medium.woff2);
  font-family: "Rubik-Medium";
}

body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

nav {
  cursor: pointer;
}
