.header__menu {
  padding: 0 32px;
  height: 128px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;

  font-family: 'Rubik';
  font-size: 20px;
}

@media screen and (max-width: 968px) {
  .header__menu {
    flex-wrap: wrap;
    padding-top: 32px;
  }
}
