.header__nav {
  padding: 10px;
  padding-left: 16px;
  font-family: 'rubik-medium';
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@media screen and (max-width: 1152px) {
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 12px;
  }
}
