.header {
  max-height: 880px;
  width: 1152px;
  color: #fff;
  border: 1px solid red;
  background-image: url("../../images/Desktop/Hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  display: flex;
}
