.header__content-block_booking {
  position: right;
  padding: 0 20px;
  max-width: 240px;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #ff7757;
  color: #fff;
  font-family: 'playfair-display';
  font-size: 36px;
  border-radius: 0 20px 20px 0;
}

.header__content-block_booking:hover {
  opacity: 0.8;
}

.header__content-block_booking-chevron {
  min-height: 97px;
  min-width: 42px;
  background-color: #ff7757;
  background-image: url(../../../../images/misc/Desktop/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
