.header__button {
    height: 64px;
    width: 134px;
    color: #fff;

}

.header__button_signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7757;
    border-radius: 12px;
}
