.header__content-block_dd {
    border-bottom: 1px solid #000;
}

.header__content-block_dd-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.header__content-block_dd-carat {
    min-width: 24px;
    min-height: 24px;
    background-image: url(../../../../images/misc/Desktop/chevron.svg)
}

.header__content-block_dd-carat:hover {
    opacity: 0.5;
}
